#cardDiv {
    margin: 0 auto;
    text-align: center;
}

#characterDiv, #plotDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#characterDiv > h2 {
    width: 100%;
}

#plotDiv > h2 {
    width: 100%;
}


.character-card {
    background-color: #f66401;
    padding: 30px;
    margin: 10px;
    min-width: 315px;
}

.plot-card {
    background-color: #6a3c45;
    padding: 30px;
    margin: 10px;
    min-width: 315px;
}